:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/*body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.userEntry {
  color: #000000;
  background-color: #ffffff;

  margin-top: 100px;
  border: rgb(0, 0, 0);
  border-style:groove;
  resize: none;
  text-align: center;
}

.chatForm {

}

.eijiResponse {
  font-size: large;
  text-align: center;
  color:#ffffff;
  font-weight: bolder;
  border:#ff8037;
  border-width:2px;
  border-style:outset;
  border-radius:10px;
  background-color: rgb(255, 171, 122);
}

.navBar {
  border:solid;
  border-width: 1px;
  border-color: #000000;
  border-style:solid;
  background-color: rgb(255, 163, 77);
  position:relative;
  color: #000000;
  text-align: center;
  justify-content:center;
}

div.navBar nav {
  text-align:center;
}

div.navBar ul {
  list-style-type: none;
  overflow: hidden;
}

div.navBar li {
  display:inline-flex;
  left: 10px;
  right: 10px;
  margin: 0;
  padding: 10px;
  border-color:#000000;
  border-style:inset;
  min-width: 110px;
  background-color:#ff5e00;
  justify-content: center;
}
div.navBar h1 {
  font-size: 40px;
  display:inline-flex;
}

div.navBar a:link {
  color:#ffffff;
  font-weight: bold;
}
div.navBar a:visited {
  color:#ffffff;
  font-weight: bold;
}
div.navBar a:hover {
  color:#f99704;
  font-weight: bolder;
}

form.worksheetForm select, form.worksheetForm label, form.worksheetForm button {
  display:flex;
  text-align: center;
}

form.worksheetForm select {
  background-color:#f99704;
  color:#ffffff;
  font-weight:bold;
}

div.worksheetClass {
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  background-color: rgb(255, 246, 230);
  color: #000000;
  font-weight: bold;
  min-height: 10px;
}

.assistant {
  font-size: large;
  text-align: left;
  color:#ffffff;
  font-weight: bolder;
  border:#ff8037;
  border-width:2px;
  border-style:outset;
  border-radius:10px;
  background-color: rgb(255, 171, 122);
  float:left;
  max-height:fit-content;
  max-width:fit-content;
}

.user {
  font-size: large;
  text-align: left;
  color:#000000;
  font-weight: bolder;
  border:#ff8037;
  border-width:2px;
  border-style:outset;
  border-radius:10px;
  background-color: rgb(255, 253, 253);
  float:right;
  max-height:fit-content;
  max-width:fit-content;
}

div.worksheetClass h3 {
  text-align: left;
}
div.worksheetClass p {
  text-align: left;
}